ion-card-title {
   text-align: center;
   font-size: 3rem;
}

.dias {
   font-size: 1.5rem;
   font-weight: bold;
}

.horario {
   text-align: center;
   font-size: 1.8rem;
}

ion-content {
   max-height: 100%;
}

ion-slides {
   height: 40%;
}

ion-slide img {
   width: 100%;
   height: 100%;
}

.libro {
   height: 100% !important;
   width: 100% !important;
}
